* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
  }

  body {
    background-color: black;
    
    display: flex;
    justify-content: center;
  }

  html {
    font-size: 16px;
  }
  
  .wrapper {
    position: relative;
    justify-content: center;
    align-self: center;
  }

  .container {
    width: 70vmin;
    height: 70vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
    align-items: center;
    justify-content: center;
    align-self: center;
  }

  .button-option {
    background: #ffffff;
    height: 20vmin;
    width: 20vmin;
    font-size: 12vmin;
    color: #d161ff;
    border: none;
    margin: 0 auto;
  }

  #restart {
    font-size: 2vmin;
    padding: 2vmin;
    text-align: center;
    background-color: rgb(74, 23, 216);
    color: #ffffff;
    position: relative;
    margin: 1em auto 0 auto;
    display: block;
  }

  #alterar-nome {
    font-size: 2vmin;
    padding: 2vmin;
    text-align: center;
    background-color: rgb(100, 93, 117);
    color: #ffffff;
    position: relative;
    margin: 1em auto 0 auto;
    display: block;
  }

  .infos{
    color: white;
    text-transform: uppercase;
    width: 70vmin;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    
  }

  .div-placar{
    color: white;
    text-transform: uppercase;
    margin: 0 auto;
    width: 20vmin;
    font-size: 5vmin;
    text-align: center;
    font-weight: bold;
  }

  .nome-jogador{
    width: 25vmin;
    justify-content: center;
    align-self: center;
    font-size: 2.5vmin;
  }

  #jog1{
    text-align: left;
  }
  
  #jog2{
    text-align: right;
  }

  .icon{
    color: rgb(74, 23, 216);
  }